html, body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f5f7fa;
}

/* layout vertical */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* zona central */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* 🔥 CLAVE: contenedor centrado */
.page-container {
  width: 100%;
  max-width: 1100px;
  padding: 30px 20px;
}