    <div class="trip-card" (click)="toggle()">

      <div class="trip-image-container">
        @if (trip.pictures?.length) {
          <img [src]="trip.pictures?.[0]" class="trip-image">
        }
      </div>

      <div class="trip-body">

        <h2 class="trip-title">{{trip.title}}</h2>

        <div class="trip-info">
          <p><strong>{{ 'Ticket' | translate }}:</strong> {{trip.ticker}}</p>
          <p><strong>{{ 'Location' | translate }}:</strong> {{trip.city}}, {{trip.country}}</p>
          <p>
            <strong>{{ 'Difficulty' | translate }}:</strong>
            <span 
              class="difficulty-badge"
              [style.background]="(trip.difficulty | difficulty).color">

              {{ (trip.difficulty | difficulty).icon }}
              {{ trip.difficulty | translate }}

            </span>
           </p>
        </div>

        <div class="trip-meta">
          <p class="trip-price">{{trip.price}} €</p>
          <p class="trip-dates">{{trip.startDate}} → {{trip.endDate}}</p>
        </div>

        <button 
          class="trip-button" 
          (click)="onCancel(); $event.stopPropagation()" 
          [hidden]="trip.cancelled"
        >
          {{ 'Cancel trip' | translate }}
        </button>

        @if (trip.cancelled) {
          <div class="trip-cancelled">
            {{ 'This trip has been cancelled' | translate }}
          </div>
        }

      </div>

      @if (expanded) {
        <div class="trip-extra">
          <p><strong>{{ 'Max participants' | translate }}:</strong> {{ trip.maxParticipants }}</p>
          <p><strong>{{ 'Country' | translate }}:</strong> {{ trip.country }}</p>
          <p><strong>{{ 'Full description' | translate }}:</strong> {{ trip.description }}</p>
        </div>
      }

    </div>