
@if (loading) {
  <div class="loader">Loading trips...</div>
}
    <h1 class="trip-title-page">Available Trips</h1>
<div class="filters">

  <button (click)="selectedDifficulty = 'all'">All</button>
  <button (click)="selectedDifficulty = 'easy'">Easy</button>
  <button (click)="selectedDifficulty = 'medium'">Medium</button>
  <button (click)="selectedDifficulty = 'hard'">Hard</button>

</div>
@if (authService.getRole() === 'admin') {
  <div class="create-container">
    <button class="create-button" (click)="showForm = !showForm">
      + Create Trip
    </button>
  </div>
}
@if (showForm) {
  <div class="create-form">

    <h2>Create new trip</h2>

    <!-- BASIC INFO -->
    <div class="form-section">
      <h3>Basic information</h3>

      <label>Title</label>
      <input [(ngModel)]="newTrip.title">

      <label>Description</label>
      <input [(ngModel)]="newTrip.description">

      <label>Price (€)</label>
      <input type="number" [(ngModel)]="newTrip.price">
    </div>

    <!-- LOCATION -->
    <div class="form-section">
      <h3>Location</h3>

      <label>City</label>
      <input [(ngModel)]="newTrip.city">

      <label>Country</label>
      <input [(ngModel)]="newTrip.country">
    </div>

    <!-- DETAILS -->
    <div class="form-section">
      <h3>Details</h3>

      <label>Difficulty</label>
      <select [(ngModel)]="newTrip.difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <label>Max participants</label>
      <input type="number" [(ngModel)]="newTrip.maxParticipants">
    </div>

    <!-- DATES -->
    <div class="form-section">
      <h3>Dates</h3>

      <label>Start date</label>
      <input type="date" [(ngModel)]="newTrip.startDate">

      <label>End date</label>
      <input type="date" [(ngModel)]="newTrip.endDate">
    </div>

    <!-- EXTRA -->
    <div class="form-section">
      <h3>Extra</h3>

      <label>Image URL</label>
      <input [(ngModel)]="newTrip.pictures[0]">

      <label>Visibility</label>
      <select [(ngModel)]="newTrip.role">
        <option value="user">User trip</option>
        <option value="admin">Admin trip</option>
      </select>
    </div>

    <button class="save-button" (click)="createTrip()">Save trip</button>

  </div>
}
<div class="trip-page">

  @for (trip of filteredTrips(); track trip.id) {

    <div class="trip-card">

      <div class="trip-image-container">
        @if (trip.pictures?.length) {
          <img [src]="trip.pictures?.[0]" class="trip-image">
        }
      </div>

      <div class="trip-body">

        <h2 class="trip-title">{{trip.title}}</h2>
        <p class="trip-description">{{trip.description}}</p>

        <div class="trip-info">
          <p><strong>Ticker:</strong> {{trip.ticker}}</p>
          <p><strong>Location:</strong> {{trip.city}}, {{trip.country}}</p>
          <p>
            <strong>Difficulty:</strong>
            <span class="badge" [ngClass]="trip.difficulty">
                {{ trip.difficulty }}
            </span>
           </p>
        </div>

        <div class="trip-meta">
          <p class="trip-price">{{trip.price}} €</p>
          <p class="trip-dates">{{trip.startDate}} → {{trip.endDate}}</p>
        </div>

        <button 
          class="trip-button" 
          (click)="cancelTrip(trip)" 
          [hidden]="trip.cancelled"
        >
          Cancel trip
        </button>

        @if (trip.cancelled) {
          <div class="trip-cancelled">
            This trip has been cancelled
          </div>
        }

      </div>

    </div>

  }

</div>