@if (loading) {
  <div class="loader">Loading trips...</div>
}

<h1 class="trip-title-page">Available Trips</h1>

<div class="search-box">
  <input
    type="text"
    placeholder="Search trips..."
    [value]="searchTerm()"
    (input)="searchTerm.set($any($event.target).value)"
  />
</div>

<div class="filters">
  <button (click)="selectedDifficulty.set('all')">All</button>
  <button (click)="selectedDifficulty.set('easy')">Easy</button>
  <button (click)="selectedDifficulty.set('medium')">Medium</button>
  <button (click)="selectedDifficulty.set('hard')">Hard</button>
</div>

<div class="trip-page">

  @for (trip of filteredTrips(); track trip.id) {

    <div class="trip-card-wrapper">

      <a class="trip-card-link" [routerLink]="['/trips', trip.id]">
        <div class="trip-card" [class.cancelled]="trip.cancelled">

          <img [src]="trip.pictures?.[0]" class="trip-image" />

          <div class="trip-body">

            <h2 class="trip-title">{{ trip.title }}</h2>

            <p class="trip-description">{{ trip.description }}</p>

            <div class="trip-info">
              <p><strong>Ticker:</strong> {{ trip.ticker }}</p>
              <p><strong>Location:</strong> {{ trip.city }}, {{ trip.country }}</p>

              <p>
                <strong>Difficulty:</strong>
                <span class="difficulty {{ trip.difficulty }}">
                  {{ trip.difficulty }}
                </span>
              </p>
            </div>

            <div class="trip-meta">
              <p class="trip-price">{{ trip.price }} €</p>
              <p>{{ trip.startDate | date }} → {{ trip.endDate | date }}</p>
              <p><strong>Available places:</strong> {{ getAvailablePlaces(trip) }}</p>
            </div>

            @if (trip.cancelled) {
              <div class="trip-cancelled">
                This trip has been cancelled
              </div>
            }

          </div>

        </div>
      </a>

      @if (authService.isExplorer() && !trip.cancelled) {
        <div class="trip-actions">
        @if (!hasApplied(trip.id)) {

          <button class="trip-button" (click)="applyToTrip(trip)">
            Apply
          </button>

        } @else{

          <span class="applied-tag">
            ✔ Already applied
          </span>

        }
        @if (!isFavourite(trip.id)) {

          @if (selectedTripForFav() !== trip.id) {
            @if (favouriteService.favouriteLists().length === 0) {
              <p>Create a favourite list first</p>
            }
            @else {
              <button 
                class="trip-button secondary"
                (click)="openFavouriteSelector(trip.id, $event)">
                Add to favourites
              </button>
            }

          } @else {

            <div class="fav-selector">

              <select #listSelect>
                @for (list of favouriteService.favouriteLists(); track list.id) {
                  <option [value]="list.id">{{ list.name }}</option>
                }
              </select>

              <button (click)="confirmAddToFavourites(trip.id, listSelect.value)">
                Add
              </button>

              <button class="cancel" (click)="closeFavouriteSelector()">
                Cancel
              </button>

            </div>

          }

        } @else {

          <span class="favourite-tag">
            ★ In favourites
          </span>

        }
        </div>
      }

      @if (authService.isManager()) {
        <div class="trip-actions">
          <button class="trip-button secondary" (click)="editTrip(trip, $event)">
            Edit
          </button>

          @if (canCancel(trip)) {
            <button class="trip-button danger" (click)="cancelTrip(trip, $event)">
              Cancel trip
            </button>
          }
          @if (!canCancel(trip)) {
            <button class="trip-button reactiv" (click)="reactivateTrip(trip, $event)">
              Reactivate
            </button>
          }
        </div>
      }

    </div>

  }

</div>