<div class="auth-wrapper" @fadeIn>
  
  <div class="auth-card">

    <h2>{{ 'Login' | translate }}</h2>

    <input type="text"
           [(ngModel)]="email"
           (input)="errorMessage=''"
           placeholder="{{ 'Email' | translate }}">

    <input type="password"
           [(ngModel)]="password"
           (input)="errorMessage=''"
           placeholder="{{ 'Password' | translate }}">

    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }

    <button (click)="login()">{{ 'Login' | translate }}</button>

  </div>

</div>