<div class="auth-wrapper">

  <div class="auth-card">

    <h2>{{ isRegisterMode() ? 'Register' : 'Login' }}</h2>

    <input
      type="email"
      placeholder="Email"
      [ngModel]="email()"
      (ngModelChange)="email.set($event)"
    />

    <input
      type="password"
      placeholder="Password"
      [ngModel]="password()"
      (ngModelChange)="password.set($event)"
    />

    <button (click)="submit()">
      {{ isRegisterMode() ? 'Register' : 'Login' }}
    </button>

    @if (error()) {
      <p style="color:red; text-align:center;">{{ error() }}</p>
    }

    <button (click)="toggleMode()">
      Switch to {{ isRegisterMode() ? 'Login' : 'Register' }}
    </button>

  </div>

</div>